[submodule "Easy-Pipeline-csharp"]
	path = Easy-Pipeline-csharp
	url = https://github.com/alicommit-malp/Easy-Pipeline-csharp
[submodule "Easy-PipeLine-Android"]
	path = Easy-PipeLine-Android
	url = https://github.com/alicommit-malp/Easy-PipeLine-Android
